button {
    height: 50px;
    width: 100px;
    background-color: yellow;
}

.g-div {
    height: 400px;
    width: 400px;
    background-color: aqua;
}

.p-div {
    height: 250px;
    width: 250px;
    background-color: red;
}

.c-div {
    height: 100px;
    width: 100px;
    background-color: yellow;
}

.main-div {
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 900;
    font-size: 3rem;
}